div._loading_overlay_wrapper{
    position: unset;
    ._loading_overlay_overlay{
        z-index: 10000000;
    }
}
.manage-patient-container{
    .m-p-title{
        font-size: 18px;
        margin: 15px 0;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
    }
    .manage-patient-body{
        padding: 0 20px;
    }
    .table-manage-patient{
        table,th,td,tr {
            border: 1px solid black;
         }
         th,td{
            padding: 5px;
            text-align: left;
         }
         button {
            border: none;
            outline: none;
            cursor: pointer;
            height: 30px;
            border-radius: 3px;
            background: orange;
         }
    }
}