.manage-schedule-container {
    .m-s-tiltle {
        text-transform: uppercase;
        margin: 15px 0;
        font-weight: 700;
        font-size: 18px;
        text-align: center;
    }
    .pick-our-container {
        padding-top: 20px;
        display: flex;
        gap: 20px;
        flex-wrap: wrap;
        button {
            padding: 5px 15px;
            border: 1px solid grey;
        }
    }
}