.manage-medication-container {
    .m-c-tiltle {
        text-transform: uppercase;
        margin: 15px 0;
        font-weight: 700;
        font-size: 18px;
        text-align: center;
    }
    .manage-medication-content {
        padding: 0 20px;
    }
}