.preview-img-cotainer {
    .lable-upload {
        padding: 5px;
        border-radius: 3px;
        background: #ddd;
        cursor: pointer;
        &:hover {
            opacity: 0.9;
        }
    }
    .preview-image {
        height: 50px;
        width: 100%;
        border: 1px solid #ddd;
        background: center center no-repeat;
        background-size: contain;
        cursor: pointer;
    }
}

.loader-container {
    width: 100%;
    height: 100vh;
    position: fixed;
    background: rgba(0, 0, 0, 0.834) url("https://media.giphy.com/media/8agqybiK5LW8qrG3vJ/giphy.gif") center no-repeat;
    z-index: 1000;
}